.login-bg {
  background-image: url("../images/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 890px;
  position: absolute;
}

.h-text {
  font-size: 1.2rem;
}

.reg-bg {
  background-image: url("../images/reg_background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  position: absolute;
}

.home-nav {
  background-color: #fccc7c;
  height: 10vh;
}

.logo {
  padding: 0;
  margin-left: 0;
  justify-content: start;
}

.item-box {
  background-color: rgb(88, 169, 219);
  height: 55vh;
}

.item-box h1 {
  color: antiquewhite;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.item-box a {
  margin: auto;
  width: 50%;
}

.item-box .add-btn {
  position: absolute;
  align-items: center;
}

.cart-link:hover {
  color: antiquewhite;
  background-color: inherit;
}

.nav-link {
  color: #2780c7d1;
}

.nav-link:hover {
  color: #ffffff;
  background-color: inherit;
}



.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn.btn-primary.bn632-hover:hover {
  color: black;
}

.price {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.group {
  display: flex;
  line-height: 20px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.search-input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search-input::placeholder {
  color: #9e9ea7;
}

.search-input:focus,
search-input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #0808d7;
  /** 9e9ea7**/
  width: 1rem;
  height: 1rem;
}

.delete-item-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: rgba(100, 77, 237, 0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

.delete-item-btn:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.logo-button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.logo-button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.767);
  --animation-color: #37afff;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.logo-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.fav-card {
  width: 190px;
  height: 300px;
  padding: 0.6em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.fav-card-img {
  background-color: #ffcaa6;
  height: 60%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.fav-card-info {
  padding-top: 10%;
}

.fav-svg {
  width: 20px;
  height: 20px;
}

.fav-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/

.fav-text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.fav-text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.button-group {
  position: absolute;
  right: 30px;
  top: 150px;
}
.fav-card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.navbar .navbar-brand {
  text-align: center;
  width: 100%;
  position: relative;
  padding: 25px 0px;
}
.bg-dark {
  background-color: #fff !important;
  border-bottom: 1px solid #eee;
}
#navbarResponsive {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
}
.navbar-dark .navbar-nav .nav-item {
  margin: 0px 15px;
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #1e1e1e;
  transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #3a8bcd;
}
.navbar:after {
  width: 100%;
  height: 1px;
  background-color: #eee;
  content: "";
  position: absolute;
  left: 0;
  bottom: -52px;
}
.navbar-dark .navbar-toggler-icon {
  background-image: none;
}
.navbar-dark .navbar-toggler {
  border-color: #3a8bcd;
  background-color: #3a8bcd;
  height: 50px;
  outline: none;
}
.navbar-dark .navbar-toggler-icon:after {
  content: "\f0c9";
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-family: "FontAwesome";
}

/*Hover*/

.fav-card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.fav-card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.login-links a svg:hover {
  color: #5f74ec;
  padding: 1px;
}

#login_email_check {
  position: absolute;
  right: 9px;
  top: 15%;
}

.featured-items {
  margin-bottom: 70px;
}
.featured-item {
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 20px;
  transition: all 0.5s;
}
.featured-item:hover {
  opacity: 0.9;
}
.featured-item img {
  width: 100%;
}
.featured-item h4 {
  font-size: 17px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 15px;
  transition: all 0.5s;
}
.featured-item:hover h4 {
  color: #3a8bcd;
}
.featured-item h6 {
  color: #3a8bcd;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}
a {
  text-decoration: none !important;
}
.section-heading {
  margin-top: 120px;
  margin-bottom: 40px;
}
.section-heading .line-dec {
  width: 1000px;
  height: 5px;
  margin-left: 30px;
  background-color: #3a8bcd;
}
.section-heading h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 15px;
}

.banner .caption .line-dec {
  width: 30px;
  height: 5px;
  background-color: #3a8bcd;
}
#filter button {
  outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
  color: #3a8bcd !important;
  box-shadow: none !important;
}
#filters .btn-primary {
  color: #1e1e1e;
  border: none;
  font-size: 15px;
  font-weight: 700;
  background-color: transparent;
}
#lblCartCount {
  font-size: 14px;
  background: blanchedalmond;
  color: #000000;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -5px;
  position: absolute;
  top: 0;
  margin-right: 4px;
}
.love-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}
.remove-btn {
  height: 20px;
  cursor: pointer;
}
.add-btn {
  height: 20px;
  cursor: pointer;
}
.favorite-btn  {
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
.unfavorite-btn{
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
.fav-btn {
  font-size: 1.2rem;
  color: hotpink;
  cursor: pointer;
}
/* loader  */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  /* margin: 1px; */
  border: 4px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end of loader */
.imgs{
  width: 70px;
  height:70px;
  cursor: pointer;
  margin-right: 8px;
}
.product-image{
  max-height: 70vh;
}
.search-menu{
  padding: 2px;
  width: 180px;
  background-color: wheat;
  border-color: wheat;
  border: 12px;
}
.history-item{
  font-size: 1.2rem;
}
.srch-del-btn ,.log-del-btn{
    color: red;
    font-size: 1.4rem;
    cursor: pointer;
}
.item{
min-height: 388px;
}
.item a img{
  min-height: 340px;
  max-height: 350px;
}