<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="style/all.min.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/sb-admin-2.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form method="POST" action="/registration" name="registration_form" class="user">
                                <div class="alert alert-warning d-none mb-3 text-center" id="pass_err2">Passwords Don't
                                    Match.
                                </div>
                                <div class="form-group row">
                                    <div class="alert alert-warning mb-3 d-none" id="name_err">Please Enter Your First
                                        And Last Name in A Valid Form With no Special Characters Or Numbers.
                                    </div>
                                    <div class="form-group row">
                                        <% if (typeof email_err!='undefined' ) { %>
                                            <div class="alert alert-warning mb-3 d-block" id="email_pk_err">
                                                This Email Is Used By Another User
                                            </div>
                                            <% } %>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <span class="d-flex justify-content-between">
                                                        <input type="text" name="first_name"
                                                            title="Enter Your First Name Only"
                                                            class="form-control form-control-user"
                                                            placeholder="First Name" value=<% if(typeof
                                                            first_name!='undefined' ){%>
                                                        <%=first_name%>
                                                            <%}%>>
                                                                <i class="fa-solid fa-check my-3 mx-1 d-none"
                                                                    id="first_name_check" style="color: green;"></i>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6"><span class="d-flex justify-content-between">
                                                        <input type="text" name="last_name"
                                                            class="form-control form-control-user"
                                                            placeholder="Last Name" title="Last Name Or Full Name"
                                                            value=<% if(typeof last_name!='undefined' ){%>
                                                        <%=last_name%>
                                                            <%}%>><i class="fa-solid fa-check my-3 mx-1 d-none"
                                                                    id="last_name_check" style="color: green;"></i>
                                                    </span>
                                                </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="alert alert-warning d-none mb-3" id="email_err">Please Enter Your
                                            Email In A Valid Form.</div>
                                        <span class="d-flex justify-content-between">
                                            <input type="text" name="reg_email" class="form-control form-control-user"
                                                placeholder="Email Address" title="Must Be Valid" value=<% if(typeof
                                                email!='undefined' ){%>
                                            <%=email%>
                                                <%}%>>
                                                    <i class="fa-solid fa-check my-3 mx-1 d-none" id="reg_email_check"
                                                        style="color: green;"></i>
                                        </span>
                                    </div>
                                    <div class="form-group row">
                                        <div class="alert alert-warning d-none mb-3" id="pass_err1">Choose More
                                            Difficult Password,
                                            </br>At Least 8 Digits. </br>One Capital Character.
                                            </br>One Digit.</br>One Special Character.</div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <span class="d-flex justify-content-between">
                                                <input type="password" name="reg_password"
                                                    class="form-control form-control-user" title="Example@1"
                                                    placeholder="Password">
                                                <i class="fa-solid fa-check my-3 mx-1 d-none" id="reg_password_check"
                                                    style="color: green;"></i></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="d-flex justify-content-between">
                                                <input type="password" name="reg_confirm_password"
                                                    class="form-control form-control-user"
                                                    placeholder="Confirm Password">
                                                <i class="fa-solid fa-check my-3 mx-1 d-none"
                                                    id="reg_confirm_password_check" style="color: green;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="alert alert-warning d-none mb-3" id="gender_err">Please Select A
                                            Gender.
                                        </div>
                                        <!-- <div class=" col-sm-8 form-select-sm d-flex ">
                                        <select name="gender" class="form-select">
                                            <option value="">Select A Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div> -->

                                        <div class="col-sm-8 form-select-sm d-flex">
                                            <select class="form-select w-50 mx-1" name="year" id="years"></select>
                                            <select class="form-select mx-2" name="month" id="months"></select>
                                            <select class="form-select w-50 mx-1" name="day" id="days"></select>
                                        </div>
                                    </div>
                                    <div class="col-5 custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" name="termsCheckBox"
                                            id="customCheck">
                                        <label class="custom-control-label my-1" for="customCheck">I Agree On Terms And
                                            Conditions.</label>
                                    </div>
                                    <hr class="mb-2">
                                    <button type="submit"
                                        class="cta my-2 text-decoration-none btn btn-user btn-block disabled"
                                        id="regBtn" style="cursor: pointer;" disabled>
                                        <span class="hover-underline-animation">Join Us Now! </span>
                                        <svg viewBox="0 0 46 16" height="10" width="30"
                                            xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
                                            <path transform="translate(30)"
                                                d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                                data-name="Path 10" id="Path_10"></path>
                                        </svg>
                                    </button>
                                    <hr>
                            </form>
                            <div class="text-center">
                                <a class="small" href="forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login">Already have an account?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="script/all.min.js"></script>
    <script src="script/jquery.js"></script>
    <script src="script/bootstrap.bundle.min.js"></script>
    <script src="script/reg.js"></script>
</body>

</html>