<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<script src="/socket.io/socket.io.js"></script>
<script src="script/jquery.js"></script>
<script src="script/main.js"></script>
<script src="script/chat.js"></script>

<script src="script/post.js"></script>
<script src="script/tags.js"></script>
<script src="script/friends.js"></script>
<script src="script/profile.js"></script>
<script src="script/photos.js"></script>
<script src="script/auth.js"></script>
</body>

</html>