<!-- Modal Messages -->
<div class="modal modal-comments">
    <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
    <div class="modal-title">
        <span>MESSAGES</span>
    </div>
    <div class="modal-content">
        <div class="scrollable-container">
            <ul class="scrollable-list chats"></ul>
        </div>
    </div>
</div>
<!-- Modal Friends -->
<div class="modal modal-friends">
    <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
    <div class="modal-title">
        <span>FRIEND REQUESTS</span>
        <a href="friends.html"><i class="fa fa-ellipsis-h"></i></a>
    </div>
    <div class="modal-content">
        <ul>
            <li>
                <a href="#">
                    <img src="images/user-2.jpg" alt="" />
                    <span><b>Tony Stevens</b><br>4 Friends in Common</span>
                    <button class="modal-content-accept">Accept</button><button
                        class="modal-content-decline">Decline</button>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/user-6.jpg" alt="" />
                    <span><b>Tamara Romanoff</b><br>2 Friends in Common</span>
                    <button class="modal-content-accept">Accept</button><button
                        class="modal-content-decline">Decline</button>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/user-4.jpg" alt="" />
                    <span><b>Nicholas Grissom</b><br>1 Friend in Common</span>
                    <button class="modal-content-accept">Accept</button><button
                        class="modal-content-decline">Decline</button>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Modal Profile -->
<div class="modal modal-profile">
    <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
    <div class="modal-title">
        <span>YOUR ACCOUNT</span>
        <a href="settings.html"><i class="fa fa-cogs"></i></a>
    </div>
    <div class="modal-content">
        <ul>
            <li>
                <a href="settings.html">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <span><b>Profile Settings</b><br>Yours profile settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <span><b>Create a page</b><br>Create your page</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <span><b>Log Out</b><br>Close your session</span>
                </a>
            </li>
        </ul>
    </div>
</div>