<div class="row">
    <div class="publish">
        <div class="row_title">
            <span><i class="fa fa-newspaper-o" aria-hidden="true"></i> Status</span>

        </div>
        <div class="post_area">
            <div class="publish_textarea">
                <img class="border-radius-image" src="images/users/<%=user.profile_image%>" alt="" />
                <textarea type="text" name="postArea" placeholder="Whats In Your Mind, <%=user.user.first_name%>?"
                    style="resize: none;"></textarea>
            </div>
            <div class="images">
            </div>
            <div class="videos"></div>
            <div class="publish_icons">
                <ul>
                    <li><i class="fa fa-camera"></i></li>
                    <li><i class="fa fa-video-camera"></i></li>
                </ul>
                <button>Publish</button>
            </div>
    </div>
    </div>
</div>